INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=PencilLine2026!
INFLUXDB_ORG=srh
INFLUXDB_BUCKET=pencil_production
INFLUXDB_TOKEN=srh-pencils-super-secret-token
GRAFANA_USER=admin
GRAFANA_PASSWORD=PencilGrafana2026!
DEFECT_PROBABILITY=0.08
MACHINE_SPEED=1.0
TARGET_CYCLE_SECONDS=5.4
